.todo-list li .icon-pause,
.todo-list li .icon-play {
  font-size: 18px;
  display: flex;
}

.time {
  margin-top: 4px;
}

.todo-list li.completed label .timer {
  color: #cdcdcd;
  text-decoration: line-through;
}

.todo-list li label .timer {
  align-items: center;
  color: grey;
  display: flex;
  font-size: 13px;
  margin-right: 15px;
}
.todo-list li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 85px 15px 60px;
}

.todo-list li label .timer {
  display: flex;
  font-size: 17px;
  color: gray;
}

.todo-list li .icon-pause {
  margin: 0 5px;
  margin-bottom: 1px;
}

.todo-list li .icon-play {
  margin: 0;
}

.icon-pause:after {
  cursor: pointer;
  content: "⏸";
}

.icon-play:after {
  cursor: pointer;
  content: "▶";
}